body {
    background-color: rgba(74, 74, 240, 0.603);
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}

p{
    font-size: 30px;
    color: rgb(88, 67, 26);
}

h2 {
    font-size: 40px;
}

ul,
ol {
    text-align: right;
    background-color: beige;
}

li {
    font-size: 35px;
}

.return {
    font-size: 20px;
    color: black;
}